<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Facturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Facturas.Properties.Settings>
            <setting name="licencia" serializeAs="String">
                <value>1279</value>
            </setting>
            <setting name="nombre" serializeAs="String">
                <value>Manuel Prieto Gallego</value>
            </setting>
            <setting name="direccion" serializeAs="String">
                <value>C/ Sector Triángulo Nº 12, 8º A</value>
            </setting>
            <setting name="poblacionCP" serializeAs="String">
                <value>Dos Hermanas, 41089</value>
            </setting>
            <setting name="telefono" serializeAs="String">
                <value>954120606</value>
            </setting>
            <setting name="movil" serializeAs="String">
                <value>617637215</value>
            </setting>
            <setting name="email" serializeAs="String">
                <value>conchi@montequinto.org</value>
            </setting>
            <setting name="nif" serializeAs="String">
                <value>nif</value>
            </setting>
            <setting name="ccc" serializeAs="String">
                <value>ccc</value>
            </setting>
            <setting name="eurosXKilometros" serializeAs="String">
                <value>0.15</value>
            </setting>
            <setting name="eurosXHora" serializeAs="String">
                <value>0.16</value>
            </setting>
            <setting name="iva" serializeAs="String">
                <value>0.08</value>
            </setting>
        </Facturas.Properties.Settings>
    </userSettings>
</configuration>